<?xml version="1.0" encoding="UTF-8" ?>
<Installer>
     <Name>Tepee3D</Name>
     <Version>1.0.0</Version>
     <Title>The Tepee3D Engine Installer</Title>
     <Publisher>The Tepee3DTeam</Publisher>
     <ProductUrl>http://tepee3d.dyndns.org</ProductUrl>
     <Logo>tepee3d_logo.png</Logo>
     <Icon>tepee3d_icon</Icon>
     <InstallerWindowIcon>tepee3d_logo.png</InstallerWindowIcon>
     <StartMenuDir>Tepee3D</StartMenuDir>
     <TargetDir>@homeDir@/Programs/Tepee3D</TargetDir>
 </Installer>
